##  제어문 - Quiz03
* 제어문
* 1번 ~ 15번 이론 문제
* 16번 ~ 30번 실습 문제

In [65]:
# Quiz 16)  게임 사용자의 게임점수(game_score)가 1000점 이상이면 ‘당신은 고수입니다’를 출력하는 프로그램을 if 문을 이용하여 작성하시오. 
#           이때 다음과 같이 game_score값을 화면에 출력하여라. 
#           game_score에 800점, 1300점을 각각 입력하여 출력문을 확인하시오.

game_score = 800
if (game_score >= 1000):
  print("당신은 고수입니다.")

game_score = 1300
if (game_score >= 1000):
  print("당신은 고수입니다.")

당신은 고수입니다.

In [66]:
# Quiz 17) num_a와 num_b에 할당된 값이 같으면 ‘두 값이 일치합니다.’를 출력하는 프로그램을 if 문을 이용하여 작성하시오. 
#          num_a와 num_b에 각각 100과 200이 할당되어 있는 경우와 num_a와 num_b에 300과 300이 할당되어 있는 경우에 
#          대하여 각각 코드를 작성하고 출력문을 확인 하시오.
num_a, num_b = 100, 200
if (num_a == num_b):
  print("두 값이 일치합니다.")

num_a, num_b = 300, 300
if (num_a == num_b):
  print("두 값이 일치합니다.")

두 값이 일치합니다.

In [67]:
# Quiz 18)  1에서 100 사이의 임의의 정수 n을 입력받아서 
#           1) n을 화면에 출력한 후, 
#           2) n이 짝수이면 "...은(는) 짝수입니다."를 다음과 같이 출력하는 프로그램을 작성하여라.

n = int(input("정수를 입력하세요 : "))
print("n =", n)
if(n % 2 == 0):
  print(n ,"은(는) 짝수입니다.")

정수를 입력하세요 :  2

n = 2
2 은(는) 짝수입니다.

In [68]:
# Quiz 19) -100에서 100 사이의 임의의 정수 x를 입력받아서 
#          1) x를 화면에 출력한 후, 
#          2) x가 0보다 큰 정수이면 "...은(는) 자연수입니다."를  그렇지 않을 경우 x = -10과 같이 x를 단순 출력하여라.

x = int(input("정수를 입력하세요 : "))
print("x =", x)

if(x > 0):
  print(x ,"은(는) 자연수입니다")
else:
  print(x)

정수를 입력하세요 :  50

x = 50
50 은(는) 자연수입니다

In [69]:
# Quiz 20) if 문의 복합 조건식을 이용해서 다음과 같은 기능을 수행하는 프로그램을 만들어보자.
#          1) 우선 '당신은 성인인가요(성인이면 1, 미성년이면 0)' 문을 통해서 성인인지 미성년인지를 구한다음 미성년이면(0이 입력되면) '당신은 미성년자입니다.'를 출력하고 프로그램을 종료한다. 
#          2) 다음으로 성인이면(1이 입력되면) '결혼을 하셨나요(기혼이면 1, 미혼이면 0)' 질문을 통해 서 기혼, 미혼을 입력으로 받아서 '당신은 결혼한 성인입니다.' 혹은 '당신은 결혼하지 않은 성인입니다.'를 
#             다음과 같이 출력하도록 한다.

adult = int(input("당신은 성인인가요(성인이면 1, 미성년이면 0): "))
if(adult == 1):
   marry = int(input("결혼을 하셨나요(기혼이면 1, 미혼이면 0): "))
   if(marry == 0):
      print("당신은 결혼하지 않은 성인입니다.")
   else:
      print("당신은 결혼한 성인입니다.")
else:
   print("당신은 미성년자입니다.")

당신은 성인인가요(성인이면 1, 미성년이면 0):  1
결혼을 하셨나요(기혼이면 1, 미혼이면 0):  0

당신은 결혼하지 않은 성인입니다.

In [70]:
# Quiz 21)  age가 10보다 크고 19보다 작으면 '청소년입니다.'를 출력하는 부울식을 작성하여라. 

age = 12
if(age > 10) and (age < 19):
  print("청소년입니다")

청소년입니다

In [71]:
# Quiz 22) 미세먼지 농도 예보 기준이 다음과 같을 때 미세먼지 농도를 입력받아 ‘좋음’, ‘보통’, ‘나쁨’, ‘매우 나쁨’을 출력하는 코드를 작성하여라.(단위 ㎍/m3)

dust = int(input("미세먼지 농도를 입력하세요(단위 : microgram/m^3 ): "))
if(dust >= 76):
  print("매우 나쁨")
elif(dust <= 75) and (dust >= 36):
  print("나쁨")
elif(dust <= 35) and (dust >= 16):
  print("보통")
else:
  print("좋음")

미세먼지 농도를 입력하세요(단위 : microgram/m^3 ):  77

매우 나쁨

In [72]:
# Quiz 23) for 반복문 사용하여  Hello, Python!을 5번 출력하는 프로그램을 작성하세요.
for i in range(5):                    #   for _ in range(5):
      print("Hello, Python!")

Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!

In [73]:
# Quiz 24) for 반복문 사용하여 0에서 4까지의 정수를 출력하는 프로그램을 작성하세요.
for i in range(5):
  print(i)

0
1
2
3
4

In [74]:
# Quiz 25) 1이상 100이하의 짝수 리스트를 작성하세요.
su=list(range(2,101,2))
print(su)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [75]:
# Quiz 26) 1~100까지 정수의 합을 구하여 출력하세요.
total = 0
for i in range(1, 101):
    total = total + i
print('1에서 100까지 정수의 합:', total)

1에서 100까지 정수의 합: 5050

In [76]:
# Quiz 27) 1~100 까지 정수 중에서 홀수의 합을 구하여 출력하세요.
total = 0
for i in range(1, 101, 2):
    total = total + i
print('1에서 100까지 홀수의 합:', total)

1에서 100까지 홀수의 합: 2500

In [78]:
# Quiz 28) 반복 횟수 만큼 출력하세요. 
print("몇 번 반복할까요?")
limit=int(input())

count=0
while count < limit:
   count=count+1
   print('{}회 반복'.format(count))

print("반복이 종료되었습니다.")

몇 번 반복할까요?

 10

1회 반복
2회 반복
3회 반복
4회 반복
5회 반복
6회 반복
7회 반복
8회 반복
9회 반복
10회 반복
반복이 종료되었습니다.

In [79]:
# Quiz 29) 다음과 같이 구구단의 2절을 출력하는 프로그램을 while문으로 사용하여 작성하세요.

i=1
dan=2
while True:
   print('{} * {} = {}'.format(dan, i, dan*i))
   i=i+1
   if i > 9:
      break;

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [80]:
# Quiz 30) 맛나 식당의 메뉴 주문 프로그램을 개발하고자 한다. 이를 위하여 사용자에게 다음과
#          같은 메뉴를 보여주고 이 중에서 하나를 선택하도록 하자. 이때 메누에 없는 숫자가 입려되면
#          메뉴를 다시 입력하세요' 가 출력되도록 한 후 다시 입력을 받도록 하자.

print('맛나 식당에 오신것을 환영합니다. 메뉴는 다음과 같습니다')
print('1)햄버거\n2)치킨\n3)피자')

menu = int(input('1에서 3까지의 메뉴를 선택하세요 : '))
while menu > 3 or menu < 1:
  menu = int(input('메뉴를 다시 입력하세요 : '))

if menu == 1:
    print('햄버거를 선택하였습니다.')
elif menu == 2:
    print('치킨을 선택하였습니다.')
else:
    print('피자를 선택하였습니다')

맛나 식당에 오신것을 환영합니다. 메뉴는 다음과 같습니다
1)햄버거
2)치킨
3)피자

1에서 3까지의 메뉴를 선택하세요 :  1

햄버거를 선택하였습니다.

## 기본함수 - Quiz04
* 함수
* 1번 ~ 11번 이론 문제
* 12번 ~ 20번 실습 문제

In [8]:
# Quiz 12) "환영합니다.“를 출력하는 greet()이라는 이름의 함수를 정의하고 이 함수를 두 번 호출하여 이 인사말을 두 번 출력하여라

def my_greet():
    print('환영합니다.')

my_greet()
my_greet()

환영합니다.
환영합니다.

In [124]:
# Quiz 13) 6줄의 별표를 출력해 보시오. 이때 함수 호출을 6회 하시오.

def print_star():  
  print('************************')

for _ in range(6):
  print_star()

************************
************************
************************
************************
************************
************************

In [127]:
# Quiz 14) 두 개의 매개변수 a, b를 받아서 두 수의 차를 구하여 출력하는 print_sub(a, b) 함수를 구현하여라. 
#          print_sum(10, 20)을 호출한 결과 다음과 같은 출력이 나타나도록 하여라.

def print_sub(a,b):
  print(a,"과", b, "의 차는", a-b,"입니다")

print_sub(10, 20)

10 과 20 의 차는 -10 입니다

In [129]:
# Quiz 15) 두 개의 매개변수 a, b를 받아서 두 수의 곱를 구하여 출력하는 print_mult(a, b) 함수를 구현하여라. 
#          print_mult(10, 20)을 호출한 결과 다음과 같은 출력이 나타나도록 하여라.

def print_mult(a, b):
  print(a,"과",b,"의 곱은(는)" , a*b, "입니다")
  
print_mult(10,20)

10 과 20 의 곱은(는) 200 입니다

In [130]:
# Quiz 16) n이라는 이름의 매개변수를 입력으로 받아서 이 값의 제곱 값을 반환하는 square(n) 함수를 정의하고 
#          이 함수를 호출하여 3과 4의 제곱을 출력하여라

def square(n):
    return n * n

print('3의 제곱은 :', square(3))
print('4의 제곱은 :', square(4))

3의 제곱은 : 9
4의 제곱은 : 16

In [132]:
# Quiz 17) 원의 면적과 둘레를 구하기 위하여 원의 반지름을 사용하려고 한다. 이 때 사용할 circle_ area_circum(radius) 함수는 
#          다음과 같이 반지름(radius) 10을 입력으로 받아서 면적(area)과 둘레(circum)의 두 값을 반환하도록 구현하여라.

def circle_area_circum(radius) :
    area = 3.14 * radius ** 2
    circum = 2 * 3.14 * radius
    return area, circum  

radius = 10
area, circum = circle_area_circum(radius)  
print("반지름 {}인 원의 면적은 {:.1f}, 원의 둘레는 {:.1f}".format(radius, area, circum))

반지름 10인 원의 면적은 314.0, 원의 둘레는 62.8

In [134]:
# Quiz 18) m과 n이라는 이름의 매개변수를 두 개 입력받아서 이 두 값 중에서 큰 값을 반환하는 
#          max2(m, n) 함수와 작은 값을 반환하는 min2(m, n) 함수를 구현하시오. 

def max2(m, n):
    if m > n :
        return m
    else :
        return n

def min2(m, n):
    if m < n :
        return m
    else :
        return m

print('100과 200중 큰 수는 :', max2(100, 200))
print('100과 200중 작은 수는 :', min2(100, 200))

100과 200중 큰 수는 : 200
100과 200중 작은 수는 : 100

In [135]:
# Quiz 19) n1에서 n2까지의 정수의 합을 구하는 함수 sum_range(n1, n2)를 작성하시오. 
#          이 함수를 이용하여 10에서 20까지의 정수의 합과 40에서 100까지의 정수의 합을 구하여 
#          다음과 같은 출력을 하는 프로그램을 작성하시오.

def sum_range(n1, n2):
  total = 0
  for n in range(n1, n2+1):
    total += n
  return total

print('{:3d}에서 {:3d}까지의 정수의 합 : {:4d}'.format(10, 20, sum_range(10, 20)))
print('{:3d}에서 {:3d}까지의 정수의 합 : {:4d}'.format(40, 100, sum_range(40, 100)))

 10에서  20까지의 정수의 합 :  165
 40에서 100까지의 정수의 합 : 4270

In [136]:
# Quiz 20) 어떤 정수 n과 m을 입력하면, n의 배수 m개를 반환하는 multiplies(n, m) 함수를 구현하고 
#          다음과 같이 호출하여 결과를 출력하여라.

def muliples(n, m):
  tup = ()
  for i in range(1,m+1):
    tup = tup + (i*n,)
  return tup

r1, r2, r3, r4 = muliples(3, 4)       # 3의 배수 4 개를 구하라
print(r1, r2, r3, r4)
r1, r2, r3, r4, r5 = muliples(2, 5)   # 2의 배수 5 개를 구하라
print(r1, r2, r3, r4, r5)

3 6 9 12
2 4 6 8 10

## 여러형태의 함수 - Quiz05
* 여러형태의  함수 
* 1번 ~ 23번 이론 문제
* 24번 ~ 29번 실습 문제

In [138]:
# Quiz 24) 다음과 같이 성(last name)과 이름(first name), 존칭(honorifics)을 매개변수로 받아서 출력하는 함수 print_name이 있다.

def print_name(honorifics, first_name, last_name):
    print(honorifics, first_name, last_name)

print_name(first_name='Gildong', last_name='Hong', honorifics='Dr')     #  Dr Gildong Hong
print_name('Gildong', 'Hong', 'Dr')                                                             #  Gildong Hong Dr

Dr Gildong Hong
Gildong Hong Dr

In [140]:
# Quiz 25) 가변 인자를 사용하는 sum_nums() 함수를 수정하여 인자들을 튜플 형식으로 출력한 후 모든 값들의 합과 평균을 다음과 같이 출력하시오.

def sum_nums(*numbers):
  avg = 0
  sum = 0
  count =0
  for n in numbers:
    count = count + 1
    sum = sum + n
    avg = avg + n
  avg = avg / count
  print(count, '개의 인자', numbers)
  print("합계 :", sum ,", 평균 :", avg)
  
sum_nums(10, 20 ,30)
sum_nums(10, 20, 30, 40, 50)

3 개의 인자 (10, 20, 30)
합계 : 60 , 평균 : 20.0
5 개의 인자 (10, 20, 30, 40, 50)
합계 : 150 , 평균 : 30.0

In [141]:
# Quiz 26) 가변 인자를 사용하는 함수 min_nums() 함수를 구현하시오. 이 함수는 정수를 인자로 받을 수 있는데 이 인자의 갯수가 가변적이다. 이 함수의 호출문이 다음과 같을 경우

def min_nums(*number):
  min = number[0]
  for n in number:
    if(min > n):
      min = n
  return min

print("최솟값은", min_nums(20,40,50,10))

최솟값은 10

In [142]:
# Quiz 27) n개의 숫자를 가변인수로 입력받은 후 이 숫자들을 오름차순으로 정렬하여 출력하는 다음 my_sort() 함수를 작성하시오.
def my_sort(*numbers):
  lst =[]
  for number in numbers:
    lst.append(number)
  lst.sort()
  print('정렬 결과:', lst)

my_sort(45, 3, 4, 56, 5)
my_sort(9, 8, 7, 6, 5, 4, 3)

정렬 결과: [3, 4, 5, 45, 56]
정렬 결과: [3, 4, 5, 6, 7, 8, 9]

In [144]:
# Quiz 28) 주어진 함수는 각 학생의 이름과 과목별 성적을 출력하는 함수입니다.
#          이 함수는 학생의 이름을 받고, 이어서 키워드 인수로 과목 해당 과목의 성적을 받는다.

def print_student_grades(name, **subjects):
    print(f"{name} 학생의 성적표:")
    for subject, score in subjects.items():
        print(f"{subject}: {score}")


# 함수 호출 예시
print_student_grades("철수", 수학=95, 영어=80, 과학=75)
print_student_grades("영희", 국어=88, 음악=95, 미술=70)

철수 학생의 성적표:
수학: 95
영어: 80
과학: 75
영희 학생의 성적표:
국어: 88
음악: 95
미술: 70

In [145]:
# Quiz 29) 쇼핑 목록을 출력하는 함수를 만들려고 합니다. 
#         이 함수는 사용자의 장바구니 목록을 출력하며, 특정 카테고리에 해당하는 항목들을 추가할 수 있어야 합니다.
def show_shopping_list(**items):
    print("장바구니 목록:")
    for category, item in items.items():
        print(f"{category}: {item}")

# 함수 호출 예시
show_shopping_list(과일="사과, 바나나", 음료="콜라, 주스", 간식="과자, 초콜릿")
show_shopping_list(의류="티셔츠, 바지", 신발="운동화", 악세서리="시계")

장바구니 목록:
과일: 사과, 바나나
음료: 콜라, 주스
간식: 과자, 초콜릿
장바구니 목록:
의류: 티셔츠, 바지
신발: 운동화
악세서리: 시계

## 내장함수 - Quiz06
* 내장함수 & 모듈
* 내장함수 : 1번 ~ 11번 이론 문제 /  12번 ~ 14번 실습 문제
* 모듈 : 15번 ~ 18번 이론 문제  / 19번 ~ 22 실습 문제

In [146]:
# Quiz 12) 다음 데이터로 이루어진 리스트가 주어졌을 때, 이 리스트에서 최대값과 최소값의 차이를 반환하는 프로그램을 작성하세요. 

numbers = [3, 7, 2, 10, 5]
print(max(numbers) - min(numbers))

8

In [147]:
# Quiz 13) 다음 문자열 중  가장 긴 문자열을 출력하는 프로그램 작성하세요.

strings = ['apple', 'banana', 'kiwi', 'orange']
longest = max(strings, key=len)
print(longest)

banana

In [148]:
# Quiz 14) 리스트에서 중복된 숫자를 제거 후 하는 프로그램 작성하세요.

numbers = [1, 2, 2, 3, 4, 4, 5]
print(list(set(numbers)))
print("\n")

[1, 2, 3, 4, 5]

In [150]:
# Quiz 19)  춘향이와 몽룡이는 2019년 2월 24일 연애를 시작했다.
#           오늘은 두 사람의 연애 시작일로부터 며칠이 경과하였는지 프로그램 작성하세요.

import datetime 
start_day=datetime.date(2019, 2, 24)
today=datetime.date.today()
result=today-start_day
print('춘향이와 몽룡이의 연애 시작일:', start_day)
print('오늘날짜:', today)
print('연애 시작일로부터 경과한 날짜:', result.days)

춘향이와 몽룡이의 연애 시작일: 2019-02-24
오늘날짜: 2024-06-13
연애 시작일로부터 경과한 날짜: 1936

In [152]:
# Quiz 20) 크리스마스까지의 남은 날짜와 시간을 구하는 프로그램 작성하세요.

today=datetime.datetime.now()
xMas=datetime.datetime(2025, 12, 25)
result=xMas-today
print('2025년 크리스마스 까지는 {}일 {}시간 남았습니다.'.format(result.days, result.seconds // 3600))

2025년 크리스마스 까지는 559일 9시간 남았습니다.

In [153]:
# Quiz 21) 무작위로 1에서 10까지의 숫자를 생성하고, 그 숫자가 홀수인지 짝수인지 판별하는 프로그램을 작성하세요. 

import random
number = random.randint(1, 10)
if number % 2 == 0:
    print(f"{number} is even.")
else:
    print(f"{number} is odd.")
print()

8 is even.

In [154]:
# Quiz 22) math 모듈과 for - in range()를 사용하여 4의 2승부터 10승까지를 화면에 출력하세요.

import math 
for n in range(2, 11):
    print('{:2d}**{:2d} = {:9.1f}'.format(4, n, math.pow(4, n)))

 4** 2 =      16.0
 4** 3 =      64.0
 4** 4 =     256.0
 4** 5 =    1024.0
 4** 6 =    4096.0
 4** 7 =   16384.0
 4** 8 =   65536.0
 4** 9 =  262144.0
 4**10 = 1048576.0