## 기본 자료형 - Quiz01 
* 기본 자료형
* 1번 ~ 15번 이론 문제
* 16번 ~ 27번 실습 문제

In [1]:
# Quiz 16) 다음 파이썬의 프로그램의 출력 결과는 무엇인가?
print(100)
print(100+200)
print(100, 200)
print('100', '200')
print('Hello Python!')
print('Hello', 'Python', '!')
print('Hello' + 'Python' + '!')
print('**********')
print('*' * 10)

100
300
100 200
100 200
Hello Python!
Hello Python !
HelloPython!
**********
**********

In [3]:
# Quiz 17) 다음 파이썬 프로그램의 출력 결과는 무엇인가?
print(400 - 200)
print( 45 * 89)
print( 32 / 8)
print(9 * 3)
print( 9 ** 3)
print(9 / 3)
print( 9 // 3)
print(9 % 3)

200
4005
4.0
27
729
3.0
3
0

In [5]:
# Quiz 18) 파이썬을 이용하여 다음과 같은 수식 계산하기
print(2 * 3.14 * 5)                  # 반지름의 길이가 5인 원의 둘레(원주율 파이는 3.14)
print(25 * 4)                        # 한 변의 길이가 25인 정사각형의 둘레
print(25 * 25)                       # 한 변의 길이가 25인 정사각형의 면적
print((10 * 2) + (30 * 2))           # 높이가 10이고 밑변이 30인 직사각형의 둘레
print(10 * 30)                       # 높이가 10이고 밑변이 30인 직사각형의 면적

31.400000000000002
100
625
80
300

In [6]:
# Quiz 19) 파이썬의 변수를 사용하여 아래의 문제를 해결하세요.
# 19-1) 민수가 자동차를 이용하여 시속 80km의 속력으로 1시간 30분을 달렸을 때, 민수의 총 주행 거리를 계산(단, 거리는 속력*시간)
speed=80
time=1.5
result=speed*time
print("거리:", result)

# 19-2) 철수는 자동차를 이용하여 2시간 동안 190km를 이동하였다. 평균 속력을 계산
speed=190
time=2
result=speed/time
print("평균:", result)

# 19-3) 태양과 지구의 평균 거리는 빛의 속도로 149,597,870km로 정의되어 있다. 빛이 1초에
#       299,792km를 이동한다고 가정할 때 태양에서 출발한 빛이 지구에 도착하는 시간은 몇 초인가?
#      이 값을 분으로 환산
speed=149597870
second=299792
minute=60
result=(speed/second)/minute
print("결과:", result)       # 실수는 결과 다름 8.316759102978065,  8.316759064062193

거리: 120.0
평균: 95.0
결과: 8.316759064062193

In [7]:
# Quiz 20) n 팩토리얼은 n * (n-1) * (n-2) * ... * 2 * 1 로 정의한다. 이 정의를 바탕으로 다음 값을 구하기
#          3! 5! 12! 20!

print(3 * 2 * 1)
print(5 * 4 * 3 * 2 *1)
print(12 * 11 * 10 * 9 * 8 * 7 * 6 * 5 * 4 * 3 * 2 * 1)
print(20 * 19 * 18 * 17 * 16 * 15 * 14 * 13 * 12 * 11 * 10 * 9 * 8 * 7 * 6 * 5 * 4 * 3 * 2 * 1)

6
120
479001600
2432902008176640000

In [8]:
# Quiz 21) 아래의 실행 결과를 보시고 변수를 사용하여 프로그램을 작성하세요.
a=50
b=30
hap=a+b
cha=a-b
mul=a*b
div=a/b
print("50+30:", hap)
print("50-30:", cha)
print("50*30:", mul)
print("50/30:", div)

50+30: 80
50-30: 20
50*30: 1500
50/30: 1.6666666666666667

In [15]:
# Quiz 22) 주민번호("830331-2039471")의 뒤자리의 첫번째 숫자는 성별을 의미한다. 
#          주민등록번호에서 성별을 나타내는 숫자를 출력하세요 (인덱싱)
jumin="830331-2039471"
pin=jumin[7]
print("pin:", pin)

pin: 2

In [16]:
# Quiz 23) "Life is too short, you need python" 문자열에서 "short"라는 문자열의 시작 위치를 구하세요.
temp="Life is too short, you need python"
print("시작위치:", temp.index("short"))

시작위치: 12

In [17]:
# Quiz 24) 임꺽정씨의 전화번호는 "010-1234-5678"입니다. 임꺽정씨의 전화번호에서 '-'을 제외하고 
#          숫자 부분만 나누어 출력하세요 (슬라이싱)
phone="010-1234-5678"
print(phone[:3])
print(phone[4:8])
print(phone[9:])

010
1234
5678

In [19]:
# Quiz 25) "1983W0331"이라는 문자열을 "W19830331"로 바꿔보자 (슬라이싱 또는 인덱싱)
value="1983W0331"
print(value[4] +  value[:4] + value[5:])

W19830331

In [22]:
# Quiz 26) "a:b:c:d" 문자열을 "a#b#c#d"문자열로 치환하세요.
imsi="a:b:c:d"
print("치환:", imsi.replace(":", "#"))

치환: a#b#c#d

In [23]:
# Quiz 27) "python programming" 문자열을 모두 대문자로 출력하세요.
subject="python programming"
print("대문자:", subject.lower())

대문자: python programming

## 컬렉션 자료형 - Quiz02
* 컬렉션 자료형
* 1번 ~ 22번 이론 문제
* 23번 ~ 45번 실습 문제

In [29]:
# Quiz 23) 1부터 10까지의 숫자 중에서 짝수를 요소로  가지는 even_list라는 리스트를 생성하여 출력
even_list=[2, 4, 6, 7, 10]
print(even_list)

[2, 4, 6, 7, 10]

In [30]:
# Quiz 24)  ‘Korea', 'China', 'India', 'Nepal' 의 네 원소를 가지는 nations라는 리스트를 생성하여 출력.
nations=['Korea', 'China', 'India', 'Nepal']
print(nations)

['Korea', 'China', 'India', 'Nepal']

In [32]:
# Quiz 25)  친한 친구 5명의 이름을 원소로 가지는 friends라는 리스트를 생성하여 출력.
friends=['길동', '철수', '은지', '지은', '영민']
print(friends)

['길동', '철수', '은지', '지은', '영민']

In [33]:
# Quiz 26) 'XYZ' 문자열을 이용하여 'X', 'Y', 'Z'라는 요소를 가지는 string이라는 이름의 리스트 생성하고 출력
string='XYZ'
print(list(string))

['X', 'Y', 'Z']

In [34]:
# Quiz 27) 2부터 ~ 10까지의 수중에서 소수를 원소를 가지는 prime_list라는 리스트를 생성하고
#          이 리스트의 가장 첫 원소를 리스트 인덱싱을 이용하여 출력하세요.
prime_list=[2, 3, 5, 7]
print('prime_list의 첫 원소:', prime_list[0])

prime_list의 첫 원소: 2

In [35]:
# Quiz 28) prime_list의 가장 마지막 원소를 음수 인덱스를 사용하여 출력하세요.
print('prime_list의 마지막 원소:', prime_list[-1])

prime_list의 마지막 원소: 7

In [40]:
# Quiz 29) 1부터 ~ 10까지의 수들 중에서 소수 원소를 가지는 prime_list라는 리스트를 생성하시고 
#          list의 메소드를 사용하여 11을 추가하세요. 이때 추가 전과 추가 후의 결과를 출력하세요.

prime_list=[2, 3, 5, 7]
print("추가 전 소수 목록:", prime_list)

prime_list.append(11)
print("추가 후 소수 목록:", prime_list)

추가 전 소수 목록: [2, 3, 5, 7]
추가 후 소수 목록: [2, 3, 5, 7, 11]

In [41]:
# Quiz 30)  Quiz 29의 prime_list라는 리스트에 있는 3이라는 원소를 list의 메소드를 사용하여 제거하세요,
#           이 때 삭제 전과 삭제 후의 결과를 출력하세요.
print("삭제 전 소수 목록:", prime_list)

prime_list.remove(3)
print("삭제 후 소수 목록:", prime_list)

삭제 전 소수 목록: [2, 3, 5, 7, 11]
삭제 후 소수 목록: [2, 5, 7, 11]

In [43]:
# Quiz 31) nations = ['Korea', 'China', 'Russia', 'Malaysia'] 라는 리스트에 'Japan'과 'Russia'가 있는지 검사하세요.
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print('Japan' in nations)
print('Russia' in nations)

False
True

In [46]:
# Quiz 32) a리스트의 원소 값이 [1, 2, 3]이고 b리스트의 원소값이 [10, 20, 30]이다.
#          a리스트에 append(b)와 extend(b) 메소드를 각각 호출할 때 어떤 결과가 나타날지 예측하세요.
a=[1, 2, 3]
b=[10, 20, 30]
a.append(b)
print(a)

a=[1, 2, 3]
b=[10, 20, 30]
a.extend(b)
print(a)

[1, 2, 3, [10, 20, 30]]
[1, 2, 3, 10, 20, 30]

In [48]:
# Quiz 33) nlist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]라는 리스트에 제일 앞에 0을 삽입하여 출력하세요.
nlist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nlist.insert(0, 0)
print(nlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
# Quiz 34) Quiz 33번 nlist를 역순으로 출력하세요.
nlist.reverse()
print(nlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [51]:
#Quiz 35) nlist = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]로 부터 슬라이싱을 수앵하여 다음과 같은 리스트를 생성하세요.
# slist1 = [0, 1, 2, 3, 4]
# slist2 = [5, 6, 7, 8, 9, 10]
# slist3 = [11, 12, 13, 14]
# slist4 = [2, 4, 6, 8, 10]
# slist5 = [10, 9, 8, 7, 6]
# slist6 = [10, 8, 6, 4, 2]

nlist = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
slist1 = nlist[0:5]
print(slist1)

slist2 = nlist[5:11]
print(slist2)

slist3 = nlist[11:15]
print(slist3)

slist4 = nlist[2:11:2]
print(slist4)

slist5 = nlist[10:5:-1]
print(slist5)

slist6 = nlist[10:0:-2]
print(slist6)

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9, 10]
[11, 12, 13, 14]
[2, 4, 6, 8, 10]
[10, 9, 8, 7, 6]
[10, 8, 6, 4, 2]

In [52]:
# Quiz 36) 다음과 같은 문자열 키-값의 항목을 가지는 capital_dic 딕셔너리를 생성하고 출력하세요.
capital_dic = {'Korea':'Seoul','China':'Beijing','USA':'Washington DC'}
print(capital_dic)

{'Korea': 'Seoul', 'China': 'Beijing', 'USA': 'Washington DC'}

In [53]:
# Quiz 37) 다음 키-값의 항목을 요소로 가지는 fruits_dic 딕셔너리를 생성하세요.
#          그리고 이 딕셔너리를 이용하여 각 과일의 가격을 다음과 같이 출력하세요.
fruits_dic = {'apple':5000,'banana':4000,'grape':5300,'melon':6500}
print('{}의 가격은 {}원입니다.'.format('apple',fruits_dic['apple']))
print('{}의 가격은 {}원입니다.'.format('banana',fruits_dic['banana']))
print('{}의 가격은 {}원입니다.'.format('grape',fruits_dic['grape']))
print('{}의 가격은 {}원입니다.'.format('melon',fruits_dic['melon']))

apple의 가격은 5000원입니다.
banana의 가격은 4000원입니다.
grape의 가격은 5300원입니다.
melon의 가격은 6500원입니다.

In [55]:
# Quiz 38) {'이름': '홍길동', '나이': 26, '키': 179, '특기': '분신술'}라는 딕셔너리를 생성 후
#          '아버지' 키와 '홍판서' 값을 가지는 새로운 항목을 추가하세요.
person = {'이름' : '홍길동', '나이' : 26, '몸무게' : 82 , '특기': '분신술'}  
person['특기'] = '분신술'
person

{'이름': '홍길동', '나이': 26, '몸무게': 82, '특기': '분신술'}

In [56]:
# Quiz 39) Quiz 38번 person 딕셔너리에 대해 '나이'를 키로 가지는 항목을 삭제하여 다음과 같은 딕 셔너리로 갱신하시오.
person = {'이름' : '홍길동', '나이' : 26, '몸무게' : 82 , '특기': '분신술', '아버지':'홍판서'}
del person['나이']
person

{'이름': '홍길동', '몸무게': 82, '특기': '분신술', '아버지': '홍판서'}

In [57]:
# Quiz 40) apple, melon, banana, orange라는 문자열로 된 키와 각각 6000, 3000, 5000, 7000원의 가 격을 값으로 가지는 fruits_dic이라는 이름의 딕셔너리를 생성하자.
#            1) fruits_dic 딕셔너리의 모든 키 출력하시오.
#            2) fruits_dic 딕셔너리의 모든 값 출력하시오.     
#            3) fruits_dic 딕셔너리의 모든 항목을 삭제하시오. 
fruits_dic = {'apple':6000, 'melon':3000, 'banana':5000, 'orange':7000}
print(fruits_dic)
print(fruits_dic.keys())
print(fruits_dic.values())
print(fruits_dic.clear())

{'apple': 6000, 'melon': 3000, 'banana': 5000, 'orange': 7000}
dict_keys(['apple', 'melon', 'banana', 'orange'])
dict_values([6000, 3000, 5000, 7000])
None

In [58]:
# Quiz 41)  (1919, 3, 1)의 요소 값을 가지는 the_day 튜플을 생성하여라. 
#            그리고 이 튜플의 요소를 언 패킹을 통해 year, month, day 변수에 할당한 후 출력하시요.
the_day=(1919, 3, 1)
year, month, day=the_day
print('{}년 {}월 {}일은 삼일절입니다.'.format(year, month, day))

1919년 3월 1일은 삼일절입니다.

In [60]:
# Quiz 42) 10, 20, 30의 순서대로 이루어진 리스트를 튜플로 변환하여 a, b, c에 언패킹한 후
#                   출력하세요.
n_list = [10,20,30]
tup = tuple(n_list)
c, b, a = tup
print('a =', a)
print('b =', b)
print('c =', c)

a = 30
b = 20
c = 10

In [62]:
# Quiz 43) 다음 튜플 결과를 작성하세요.
#                   (10, 20, 30) + (40, 50, 60)
#                   ('Hello' * 3)
#                   (('Hello', ) * 3)
print((10, 20, 30) + (40, 50, 60))
print('Hello' * 3)
print (('Hello', ) * 3)

(10, 20, 30, 40, 50, 60)
HelloHelloHello
('Hello', 'Hello', 'Hello')

In [63]:
#Quiz 44) fruits=['apple', 'mango', 'banana'] 리스트를 세트로 생성하여 출력하세요.
fruits=['apple', 'mango', 'banana']
myset=set(fruits)
myset

{'apple', 'banana', 'mango'}

In [64]:
#Quiz 45) greet='Good afternoon' 문자열을 세트으로 생성하여 출력하세요.
greet = 'Good afternoon'
myset=set(greet)
myset

{' ', 'G', 'a', 'd', 'e', 'f', 'n', 'o', 'r', 't'}

##  제어문 - Quiz03
* 제어문
* 1번 ~ 15번 이론 문제
* 16번 ~ 30번 실습 문제

In [65]:
# Quiz 16)  게임 사용자의 게임점수(game_score)가 1000점 이상이면 ‘당신은 고수입니다’를 출력하는 프로그램을 if 문을 이용하여 작성하시오. 
#           이때 다음과 같이 game_score값을 화면에 출력하여라. 
#           game_score에 800점, 1300점을 각각 입력하여 출력문을 확인하시오.

game_score = 800
if (game_score >= 1000):
  print("당신은 고수입니다.")

game_score = 1300
if (game_score >= 1000):
  print("당신은 고수입니다.")

당신은 고수입니다.

In [66]:
# Quiz 17) num_a와 num_b에 할당된 값이 같으면 ‘두 값이 일치합니다.’를 출력하는 프로그램을 if 문을 이용하여 작성하시오. 
#          num_a와 num_b에 각각 100과 200이 할당되어 있는 경우와 num_a와 num_b에 300과 300이 할당되어 있는 경우에 
#          대하여 각각 코드를 작성하고 출력문을 확인 하시오.
num_a, num_b = 100, 200
if (num_a == num_b):
  print("두 값이 일치합니다.")

num_a, num_b = 300, 300
if (num_a == num_b):
  print("두 값이 일치합니다.")

두 값이 일치합니다.

In [67]:
# Quiz 18)  1에서 100 사이의 임의의 정수 n을 입력받아서 
#           1) n을 화면에 출력한 후, 
#           2) n이 짝수이면 "...은(는) 짝수입니다."를 다음과 같이 출력하는 프로그램을 작성하여라.

n = int(input("정수를 입력하세요 : "))
print("n =", n)
if(n % 2 == 0):
  print(n ,"은(는) 짝수입니다.")

정수를 입력하세요 :  2

n = 2
2 은(는) 짝수입니다.

In [68]:
# Quiz 19) -100에서 100 사이의 임의의 정수 x를 입력받아서 
#          1) x를 화면에 출력한 후, 
#          2) x가 0보다 큰 정수이면 "...은(는) 자연수입니다."를  그렇지 않을 경우 x = -10과 같이 x를 단순 출력하여라.

x = int(input("정수를 입력하세요 : "))
print("x =", x)

if(x > 0):
  print(x ,"은(는) 자연수입니다")
else:
  print(x)

정수를 입력하세요 :  50

x = 50
50 은(는) 자연수입니다

In [69]:
# Quiz 20) if 문의 복합 조건식을 이용해서 다음과 같은 기능을 수행하는 프로그램을 만들어보자.
#          1) 우선 '당신은 성인인가요(성인이면 1, 미성년이면 0)' 문을 통해서 성인인지 미성년인지를 구한다음 미성년이면(0이 입력되면) '당신은 미성년자입니다.'를 출력하고 프로그램을 종료한다. 
#          2) 다음으로 성인이면(1이 입력되면) '결혼을 하셨나요(기혼이면 1, 미혼이면 0)' 질문을 통해 서 기혼, 미혼을 입력으로 받아서 '당신은 결혼한 성인입니다.' 혹은 '당신은 결혼하지 않은 성인입니다.'를 
#             다음과 같이 출력하도록 한다.

adult = int(input("당신은 성인인가요(성인이면 1, 미성년이면 0): "))
if(adult == 1):
   marry = int(input("결혼을 하셨나요(기혼이면 1, 미혼이면 0): "))
   if(marry == 0):
      print("당신은 결혼하지 않은 성인입니다.")
   else:
      print("당신은 결혼한 성인입니다.")
else:
   print("당신은 미성년자입니다.")

당신은 성인인가요(성인이면 1, 미성년이면 0):  1
결혼을 하셨나요(기혼이면 1, 미혼이면 0):  0

당신은 결혼하지 않은 성인입니다.

In [70]:
# Quiz 21)  age가 10보다 크고 19보다 작으면 '청소년입니다.'를 출력하는 부울식을 작성하여라. 

age = 12
if(age > 10) and (age < 19):
  print("청소년입니다")

청소년입니다

In [71]:
# Quiz 22) 미세먼지 농도 예보 기준이 다음과 같을 때 미세먼지 농도를 입력받아 ‘좋음’, ‘보통’, ‘나쁨’, ‘매우 나쁨’을 출력하는 코드를 작성하여라.(단위 ㎍/m3)

dust = int(input("미세먼지 농도를 입력하세요(단위 : microgram/m^3 ): "))
if(dust >= 76):
  print("매우 나쁨")
elif(dust <= 75) and (dust >= 36):
  print("나쁨")
elif(dust <= 35) and (dust >= 16):
  print("보통")
else:
  print("좋음")

미세먼지 농도를 입력하세요(단위 : microgram/m^3 ):  77

매우 나쁨

In [72]:
# Quiz 23) for 반복문 사용하여  Hello, Python!을 5번 출력하는 프로그램을 작성하세요.
for i in range(5):                    #   for _ in range(5):
      print("Hello, Python!")

Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!

In [73]:
# Quiz 24) for 반복문 사용하여 0에서 4까지의 정수를 출력하는 프로그램을 작성하세요.
for i in range(5):
  print(i)

0
1
2
3
4

In [74]:
# Quiz 25) 1이상 100이하의 짝수 리스트를 작성하세요.
su=list(range(2,101,2))
print(su)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [75]:
# Quiz 26) 1~100까지 정수의 합을 구하여 출력하세요.
total = 0
for i in range(1, 101):
    total = total + i
print('1에서 100까지 정수의 합:', total)

1에서 100까지 정수의 합: 5050

In [76]:
# Quiz 27) 1~100 까지 정수 중에서 홀수의 합을 구하여 출력하세요.
total = 0
for i in range(1, 101, 2):
    total = total + i
print('1에서 100까지 홀수의 합:', total)

1에서 100까지 홀수의 합: 2500

In [78]:
# Quiz 28) 반복 횟수 만큼 출력하세요. 
print("몇 번 반복할까요?")
limit=int(input())

count=0
while count < limit:
   count=count+1
   print('{}회 반복'.format(count))

print("반복이 종료되었습니다.")

몇 번 반복할까요?

 10

1회 반복
2회 반복
3회 반복
4회 반복
5회 반복
6회 반복
7회 반복
8회 반복
9회 반복
10회 반복
반복이 종료되었습니다.

In [3]:
# Quiz 29) 다음과 같이 구구단의 2절을 출력하는 프로그램을 while문으로 사용하여 작성하세요.

i=1
dan=2
while True:
   print('{} * {} = {}'.format(dan, i, dan*i))
   i=i+1
   if i > 9:
      break;

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
# Quiz 30) 맛나 식당의 메뉴 주문 프로그램을 개발하고자 한다. 이를 위하여 사용자에게 다음과
#          같은 메뉴를 보여주고 이 중에서 하나를 선택하도록 하자. 이때 메누에 없는 숫자가 입려되면
#          메뉴를 다시 입력하세요' 가 출력되도록 한 후 다시 입력을 받도록 하자.

print('맛나 식당에 오신것을 환영합니다. 메뉴는 다음과 같습니다')
print('1)햄버거\n2)치킨\n3)피자')

menu = int(input('1에서 3까지의 메뉴를 선택하세요 : '))
while menu > 3 or menu < 1:
  menu = int(input('메뉴를 다시 입력하세요 : '))

if menu == 1:
    print('햄버거를 선택하였습니다.')
elif menu == 2:
    print('치킨을 선택하였습니다.')
else:
    print('피자를 선택하였습니다')

맛나 식당에 오신것을 환영합니다. 메뉴는 다음과 같습니다
1)햄버거
2)치킨
3)피자